@model TCC_Automatizacao_bloqueio.Models.TicketRecordFormViewModel
@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Ticket</h4>

<hr />

<div class="row">

    <div class="col-md-4">

        <form asp-action="Create">

            <div class="form-group">
                <label asp-for="TicketRecord.Date" class="control-label"></label>
                <input asp-for="TicketRecord.Date" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="TicketRecord.Amount" class="control-label"></label>
                <input asp-for="TicketRecord.Amount" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="TicketRecord.Status" class="control-label">Status: Pending = 0, Billed = 1 and Canceled = 2 </label>
                <select asp-for="TicketRecord.Status" class="form-control">
                    <option>0</option>
                    <option>1</option>
                    <option>2</option>
                </select>
            </div>

            <div class="form-group">
                <label asp-for="TicketRecord.UserId" class="control-label"></label>
                <select asp-for="TicketRecord.UserId" asp-items="@(new SelectList(Model.Users,"Id","Name"))" class="form-control"></select>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>

        </form>

    </div>


</div>